/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
  font-family: 'Open Sans', sans-serif;
}
.showtitle{
  font-size:2em;
  color:#ffffff;
  font-family: 'Nunito Sans', sans-serif;
}
#titlediv {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  background-color: #1c1354;
  padding: 15px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
}
#titlediv > button {
  width: 50%;
  background-color: #1c1354;
  border: 3px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 15px;
  padding:5px;
  margin-top: 5px;
  margin-left: 25%;
}

#titlediv > button:hover {
  background-color:#000000;
}
body  {
  background-color: #070321;
  color:#ffffff;
}

#lightbox {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.9); 
  display:none;
  
}

#message {
    width:80%;
    padding:20px;
    border-radius: 20px;
    border: 5px solid white;
    background-color:#1c1354;
    text-align:center;
    color:#ffffff;
    font-size: 15px;
    
    /* Center the message in the lightbox */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main > div > div > ol > li {
  border:3px solid #000000;
  border-radius: 15px;
  padding: 5px;
  margin-top: 5px;
  background-color: #1c1354;
  text-align: center;
}

li > a {
  text-decoration: none;
  color: #ffffff;
}
main > div > h2 {
  margin-left: 5px;
}

main > div > div > ol > li:hover {
  background-color: #030111;
  cursor: pointer;
}

main > div {
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 5px;
  height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
}
main > div > div, main > div > img {
  margin-left: 5px;
}

@media (min-width: 750px) { /*for desktop mode*/
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
  }
} /* end of media*/

@media (min-width: 1600px) { /*media for fullscreen*/
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
  }
} /* end of second media */